/*  Title: form.html styles
	by: Cory Green
	for: CSS selectors
*/

/* h1 styling */
h1{
	margin: 2px 5px 5px 2px;		/*20px on top, 10px right, 5px bottom, 10px left */
	border: 5px solid white;
	padding: 10px;
	background: #000452;
	width: 77%; 
	color: #FFFFFF;
	text-align: center;
	font-size: 20px;
}

/* h2 stlying */
h2{
	margin: 20px 10px 5px 10px;		/*20px on top, 10px right, 5px bottom, 10px left */
	border: 10px solid #000000;
	padding: 10px;
	background: #000452;
	width: 85%; 
	color: #FFFFFF;
	text-align: left;
}

/* paragraph styling */
p{
	color: white;
	font-style: italic;
	font-family: Arial; /*changes font face (also when a font is multiple words, use "" ("Times new Roman")) */
	font-weight: bold;
	font-size: 18px;
	line-height: 24px; /* distance between each line */
	text-align: left;  /*aligns text */
}

/* body styling */
body{
	background-color: black;
}

/* legend styling */
legend{
	font-size: 20px;
	color: #000000;
}

/* li styling */
li{
	color: white;
	font-style: italic;
	font-size: 22px;
}
nav{
	color: white;
	}
div{
	color: white;
	font-size: 22px;
}

