/*  Title: form.html styles
	by: Cory Green
	for: CSS selectors
*/

/* h1 styling */
h1{
	margin: 2px 5px 5px 2px;		/*20px on top, 10px right, 5px bottom, 10px left */
	border: 5px solid #979da1;
	border-radius: 5px;
	padding: 10px;
	background: #6e7b82;
	width: 270px; 
	color: #FFFFFF;
	text-align: center;
	font-size: 20px;
}

/* h2 stlying */
h2{
	margin: 20px 10px 5px 10px;		/*20px on top, 10px right, 5px bottom, 10px left */
	border: 10px solid #000000;
	padding: 10px;
	background: #000452;
	width: 85%; 
	color: #FFFFFF;
	text-align: left;
}

/* body styling */
body{
	background-color: #1f81b7;
}

/* legend styling */
legend{
	font-size: 20px;
	color: #000000;
}


/* target specific ID's use #then_ID */
#nav{
	color: white;
	font-size: 20px;
	text-align:	center;
	border: 1px solid black;
	background: #1c98dc;
	border-radius: 5px;
}

/* targetting the searchInput field */	
#searchInput{
	width: 250px;
	height: 20px
}
#article{
	color: white;
	font-size: 20px;
	font-weight: bold;
	text-align:	center;
	width: 302px;
	border: 1px solid black;
	margin-top: 5px;
	background: #1c98dc;
	border-radius: 5px;
}

div{
	color: white;
	font-size: 22px;s
}

/* main pic CSS */
#mainPic{
	width: 304px;
	height: 200px;
	border-radius: 5px;
}

#general{
	color: white;
	font-size: 20px;
	margin-left: 0px;
	margin-top: 0px;
}

p{
	padding-top: 0px;
	margin-top: 5px;
	margin-bottom: 5px;
}

